$font-family: "irsans","Yekan","BRoya", arial; 
$red: #9E4049;
$green: #adffda;
$grey: #333;
$white: #fff;
$orange: #ffb87a;
$mark-color: rgba(15, 15, 15, 0.69);
$light-blue:#21526B;
$light-blue-hover: #2D4E6E;
$loginInpHov-color: #BBD9E2;
$customerConf-color: #365F85;
$customerConfP-color: #65E8C6;
$customerHover-color: cadetblue;
body { 
  font-family: $font-family;
  ::-webkit-scrollbar { 
    display: none; 
}
}
body, html {
  padding: 0;
  margin:0;
  height: 100%;
}
#setRoom {
  height:230px;
}
.submitMsg {
    background-color: $red;;
  :hover {
    background-color: $green;
  }
}
  select {
    text-align: center;
    text-align-last: center;
  }
  option {
    text-align: center;
  }
  .msgForm {
    width:600px; 
    height: 280px; 
    border-color: $grey; 
    background-color:$grey;
    margin-top:10px;
  }
  .selectTo-user {
    text-align: center;
     width:395px; 
     font-size:16px; 
     font-weight:bold;
     padding:5px; 
     border-radius: 0px;
     border-color: transparent; 
     background-color: $orange; 
     color:$white; 
     margin-top:20px; 
     margin-bottom: 10px; 
  }
  .msgSubject {
    width:382px; 
    height: 20px; 
    border-radius: 0px; 
    border-color: transparent; 
    padding: 5px; 
    margin-bottom: 10px; 
    background-color: $orange; 
    text-align: center; 
    font-size:16px; 
    font-weight:bold; 
    color: $white; 
    direction:rtl; 
  }
  .msgContent {
    margin-bottom: 10px; 
    width:390px; 
    background-color: $orange; 
    text-align: center; 
    font-size:16px; 
    font-weight:bold; 
    color: $white; 
    direction:rtl; 
    border-color: transparent;
  }
  .msgSubmit {
     font-size: 16px; 
     font-weight: bold; 
     width:100px; 
     padding:5px; 
     border-color: transparent;
  }
.regFix {
  margin-left:600px;
   margin-bottom: 10px;
}
a.accordion {
  display: none;
    background-color: $white;
    color: $grey;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
.active, a.accordion:hover {
    background-color: #ddd;
}
:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
:after {
    content: "\2796";
}
}
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    display: none;
.show {
    opacity: 1;
    max-height: 500px;  
}
}
/*  Start topNav CSS _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */
ul.topnav {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $red;
li {
    float: right;
}
li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
}
a:hover {
    background-color: $red;
}
li.icon {
    display: none;
}
}
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block; 
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav.responsive li {
    float: none;
    display: inline;

  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
}
/* End topNav CSS _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */
/* Start Parallax CSS _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */
.parallax {
    /* The image used */
    background-image: url('../picture/main.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2 {
    /* The image usesd */
    background-image: url('../picture/main2.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: initial;
  }
  .mainHeader {
  margin: 0 auto 0 auto;
  text-align: center;
  color: $white;
  padding: 80px 40px 110px 40px;
  font-size: 30px;
  text-shadow: 1.2px 1.2px 1.2px $grey;
  font-weight: bold;
  }
 @media only screen and (min-width: 768px) {
    .mainHeader {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 768px){
    .mainHeader{
        font-size: 1.17em;
    }}
mark {
  background-color: $mark-color;
  color: $white;
  }
.mainHeader_Button {
  color: $white;
  font-family: $font-family;
  position: relative;
  text-align: center;
  background-color: $red;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  margin-top: 25%;
  mainHeader_Button:hover {
    background-color: $red;
  }
}
@media only screen and (max-width: 768px){
  .mainHeader_Button {
  font-size: 10px;
  margin-top: 55%;
  }
}
.buttons {
    margin: 0 auto 0 auto;
    position: relative;
    text-align: center;
}
.mySlides {
  display:none;
}
.aboutUs {
  background-color: $light-blue;
  height: auto;
  padding-bottom: 20px;
}
.centered {
    margin: 0 auto 0 auto;
    position: relative;
    text-align: center;
}
.aboutHeader {
  padding-top:46px;
  padding-bottom: 20px;
  color: $white;
  font-size: 1.7em;
}
@media screen and (max-width:768px) {
.aboutHeader {
  font-size: 12px;
}
}
.element {
     padding-left: 15px;  /*The element class used for fontawesome*/
before {
    content: "\f140";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: $white;
    font-size: 20px;
}
}
.aboutContent {
    direction: rtl;
    font-size: 18px;
    font-weight: bold;
    color: $white;
    text-align: right;
    padding-right: 27%;
    padding-top: 12px;
    padding-bottom: 12px;
 }
@media only screen and (max-width: 768px) {
  .aboutContent {
    direction: rtl;
    font-size: 8px;
    font-weight: bold;
    color: $white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 5%;
}
}
.clear {
  clear: both;
}
.loginForm {
  margin: 0 auto 0 auto;
  background-color: $grey;
  opacity: .95;
  padding-top: 60px;
  padding-bottom: 60px;
}
.loginInp {
  padding: 10px;
  font-family: $font-family;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: $white; 
  color: $light-blue-hover;
}
.loginInp:hover {
  background-color: $loginInpHov-color;
}
#spaceInp {
  padding-bottom: 15px;
}
.loginSub {
  color: $white;
  margin: 0 auto;
  position: relative;
  text-align: center;
  background-color: #6394DC;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-family: $font-family;
  font-size: 25px;
  width: 210px;
  cursor: pointer;
:hover {
  background-color: #13325F;
}
}
.hrOpt {
  border-color: $red;
  border-width: 2px;     /* cna bold border*/
  max-width: 100px;
}
.contactUs {
  padding: 30px;
  background-color: $white;
  height: auto;
  opacity: .85;
p:first-child {
  color: $red;
}
p {
  direction: rtl;
  margin: 0px;
  padding: 10px;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  color: black;
}
}
@media screen and (max-width: 680px)
{
  .contactUs p {
    font-size: 19px;
  }
}
.homeIcon {
  padding-left: 5px;
:before {
    content: "\f015";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: $white;
    font-size: 20px;
}
}
.mapIcon {
     padding-left: 15px;  /*This class used for fontawesome*/
:before {
    content: "\f041";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: black;
    font-size: 28px;
}
}
.tellIcon {
     padding-left: 15px;  /*This class used for fontawesome*/
:before {
    content: "\f095"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: black;
    font-size: 28px;
}
}
.emailIcon {
     padding-left: 15px;  /*This class used for fontawesome*/
:before {
    content: "\f0e0"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: black;
    font-size: 28px;
}
}
#customerConf {
  background-color: $customerConf-color;
  opacity: .85;
p {
  color: $customerConfP-color;
  direction: rtl;
  margin: 0px;
  padding: 10px;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}
}
@media screen and (max-width: 768px)
{
  #customerConf p {
    font-size: 20px;
  }
}
#customer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
  background-color: $customerConf-color;
  opacity: 0.8;
li:hover {
  background-color: $customerHover-color;
}
li {
  display: table-cell;
  padding: 10px;

}
}
#customer li img {
  max-width: 80%;
 
}

.endPage {
   text-align: center;
}
.endPage p{
  padding-top: 10px;
  margin: 0;
  text-align: center;
  background-color: $grey;
  color: $white;
  height: 32px;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 768px)
{
  .endPage p{
  font-size: 10px;
}
}
.logoutIcon {
     padding-left: 15px;  /*This class used for fontawesome*/
}
.logoutIcon:before {
    content: "\f08b";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: $white;
    font-size: 15px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,.75); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    text-align: center;
    position: relative;
    background-color: #1e1b1e;
    margin: auto;
    padding: 0;
    border: 1px solid;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: rgb(3, 175, 255);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #9E4049;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
  text-align: center;
    padding: 2px 16px;
    background-color: #1e1b1e;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px 10px 16px;
    background-color: #1e1b1e;
    color: white;
   }

.regInput{
  width: 230px;
  font-family: "irsans","Yekan","BRoya", arial;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
.regInput:hover, focus {
  background-color: #BBD9E2;
}
 .regInput2:hover, focus {
  background-color: #BBD9E2;
}
.regInput2{
  font-family: "irsans","Yekan","BRoya", arial;
  width: 230px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
.regInputStyle{
  padding: 5px 15px;
}
#registerFSty {
  padding-top: 25px;
}
.regInputStyle {
  direction: rtl;
  text-align: center;
}
.logSub {
  background-color: rgb(3, 175, 255);
  border-radius: 10px;
  font-family: "irsans","Yekan","BRoya", arial;
  width: 230px;
  height: 40px; 
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  border-color: transparent;
}
.logSub:hover {
  background-color: #0288D1;
}
/* sidenav for dashboard*/
.sidenav {
    width: 188px;
    float: right;
    text-align: right;
    direction: rtl;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #14233f !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sidenav a {
    padding: 8px 8px 8px 33px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #f1f1f1;
    display: block;
    transition: 0.3s   
}

.sidenav a:hover{
    color: #f1f1f1;
    background-color: #4A4A4A;
}
/* End  sidenav for dashboard*/
table {
  margin-top: 0;
  direction: rtl;
    border-collapse: collapse;
    border-spacing: 0;
    width: 89%;
}
th
{
  font-weight: bold;
  font-size: 18px;
    text-align: center;
    background-color: #167F92;
    color: #eceeef;
}
th, td {
    border: none;
    text-align: center;
    padding: 8px;

}
tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #fff;}
tr {
  font-weight: bold;
  font-size: 16px;
  text-align: center;

}
.delete {
  width: 120px;
  background-color: #5EC98B;
  border-radius: 5px;
  border-color: transparent;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
}
.delete:hover {
  background-color: #C14844;
}
